body{
    font-family: 'Architects Daughter', cursive;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
.half-width img{
    width: 75%;
    padding-top: 40px;
    padding-left: 40px;
    }
.p{
    font-size: 25px;
    color: rgba(13, 66, 180, 0.747);
}
.and{
    color: rgba(224, 15, 224, 0.856);
    font-size: 35px;
}
.welcome{
    font-size: 75px;
}
.link-button{
    color: rgba(52, 238, 245, 0.822);
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(rgb(0, 38, 255), rgba(255, 0, 212, 0.781));
    padding: 10px 20px;
    border-radius: 7px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;    
}